html {
  scroll-behavior: smooth;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Sans-Serif;
    }
   body {
    background: #f4f4f4;
    color: black;
    line-height: 1.6;
    }
     
    /* transisi */
   .section {
     transition: all 0.8s ease;
     }

   .hidden {
    opacity: 0;
    transform: translateY(50px);
    }

   .show {
    opacity: 1;
    transform: translateY(0);
    }
    /* Navbar */
   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        to right,
        #0b2c6f,
        #0f4aa3,
        #0b2c6f);
    height: 70px;
    width: 100%;
    border-bottom: 5px solid #f7c600;
    padding:10px 15px;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 1000;
    box-sizing: border-box;
    transition: 0.3s ease;
    }
   nav.hide {
    transform: translateY(-100%);
    top: -80px;
    }
    
   .left {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    }
   .left i {
    font-size: 30px;
    color: white;
    }
    
   .left p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    }
   .hamburger {
    width: 40px;
    cursor: pointer;
    }
   .hamburger span {
    display: block;
    height: 4px;
    background: white;
    margin: 7px 0;
    transition: 0.3s;
    }
   .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(7px,7px);
    color: white;
    }
    
   .hamburger.active span:nth-child(2) {
    opacity: 0;
    color: white;
    }
   .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px,-7px);
    color:white;
    }
   .desktop-menu {
    display: none;
     }
   .desktop-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    }
   @media (min-width: 768px) {
    .desktop-menu {
    display: flex;
    gap: 20px;
    }
   .hamburger {
    display: none;
    }
     }
   .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 70px;
    width: 80%;
    max-width: 320px;
    height: 100%;
    background: #f4f4f4;
    transition: 0.3s ease;
    padding: 0px 20px;
    opacity: 1;
    top: 0;
    right: -100%;
    z-index: 99;
    -webkit-overflow-scrolling:touch;
    }
   .mobile-menu.active {
    right: 0;
     }
   .mobile-menu a {
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    padding: 12px 0;
    font-size: 18px;
    text-align: center;
    border: 1px solid #dcdcdc;
    }
     
   .overlay {
    position: fixed;
    inset: 0;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    opacity: 0;
    visibility: hidden;

    transition: .3s;
    z-index: 98;
    }
   
   .overlay.active {
    opacity: 1;
    visibility: visible;
    }
    
  .no-scroll {
    overflow: hidden;
  }
  /* Hero */
  .hero {
    min-height: 700px;
    background:
    url('../img/hero.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
  align-items:center;
  justify-content:flex-start;
  }
   .con {
     min-height: 700px;
     padding: 250px 40px 100px;
     color: white;
     font-weight: bold;
     background: rgba(0, 0, 0, 0.5);
}

   .btn {
    display: inline-block;
    padding: 10px 16px;
    background: #f7c600;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    margin-top: 15px;
    }
   .btn:hover {
    background: darkorange;
    }
   /* Service */
   .service {
    text-align: center;
    }

   .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #0d3b8b;
    margin-top: 20px;
    }
   .title::before,
   .title::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #dcdcdc;
    }

   .animasi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 25px;
    }

   .stat {
    text-align: center;
    }

   .stat h3 {
    font-size: 45px;
    color: #2563eb;
    }
   /* Service */
   .line {
    display: flex;
    justify-content: center;
    align-items: center;
    content:"";
    flex:1;
    height: 1px;
    background: #dcdcdc;
    margin-top: 10px;
    }
   .slider {
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 50px;
    padding: 20px 30px;
    margin-top: 50px;
    }
   .card {
    position: relative;
    flex: 1;
    padding: 20px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    border-radius: 12px;
    background: white;
    text-align: center;
    }

   .card:hover {
    transform: translateY(-8px);
    border-color: rgba(59,130,246,.4);
    box-shadow: 0 8px 20px rgba(59,130,246,.15);
    }
   .card:hover::before {
    transform: scale(1.5);
    }
   .card i{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: blue;
    font-size:50px;
    }
   .card h2 {
    margin-top: 20px;
    color: #0d3b8b;
    }
   .card p {
    font-size: 15px;
    margin-top: 10px;
    }

  /* Mobile */
   @media(max-width: 768px) {
    .slider {
     grid-template-columns: 1fr;
     }
    }
   /* Tablet */
   @media(min-width: 768px) and (max-width: 1024px) {
    .slider {
     grid-template-columns: repeat(2,1fr)
     }
    }

   /* Workflow */
   .workflow {
    text-align: center;
    }

   /* Features */
   .features {
    padding: 70px 20px;
    background: #fff;
    }

   .subtitle {
    text-align: center;
    color: #ff8c66;
    font-weight: 600;
    }

   .title {
    text-align: center;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

   .features-grid {
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 50px;
    align-items: center;
    padding: 20px 20px;
    }

   .feature-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    }

   .feature-item {
    text-align: center;
    }

   .feature-item i{
    font-size:42px;
    margin-bottom:15px;
    color:#0d3b8b;
    }
   .feature-item h3 {
    font-size: 28px;
    margin-bottom: 15px;
    }

   .feature-item p {
    color: #666;
    line-height: 1.7;
    }
    
   @media(max-width: 768px) {
    .features-grid {
     grid-template-columns:1fr;
     gap:30px;
     }
    }
   .title {
    font-size: 30px;
    }

   .feature-item h3 {
    font-size: 22px;
    }

   .feature-item p {
    font-size: 14px;
    }

   .icon {
    font-size: 34px;
    }

   /* About */
   .about {
     background: #87ceeb;
   }
   .about-p {
     text-align: center;
     font-weight: bold;
   }
   .box-about{
    display:flex;
    align-items:center;
    gap: 60px;
    max-width:1200px;
    margin:50px auto;
    background: #87CEEB;
    padding: 20px 20px;
    }

   .box-about img{
    width:300px;
    height:350px;
    object-fit:cover;
    border-radius:20px;
    }

   .about-content{
    flex:1;
    }

   .about-content h3{
    margin-bottom:15px;
    color:#0d3b8b;
    }

   .about-content p{
    margin-bottom:20px;
    }
   @media(max-width:768px){
    .box-about{
     flex-direction:column;
     text-align:center;
    }

    .about-content{
     text-align:center;
    }
    }
   /* Projects */
   .project {
    text-align: center;
    padding: 10px 20px;
    }
   .pict {
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-top: 10px;
    }
   .project-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px 20px;
    }
   .project-btn a {
    background: #f4f4f4;
    text-decoration: none;
    color: red;
    font-size: 12px;
    }

   /* cta */
   .cta {
    background: linear-gradient(
    to right,
    #0b2c6f,
    #0f4aa3,
    #0b2c6f
    );
    color: white;
    padding: 50px 30px;
    }

   .cta-header {
    display: flex;
    align-items: center;
    gap: 20px;
    }

   .cta-header h2 {
    font-size: 40px;
    font-weight: 700;
    }

   .cta-line {
    flex: 1;
    height: 2px;
    background: rgba(255,255,255,.4);
    }

   .cta-text {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    }

   .cta-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    }

   .cta-card h3 {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding-bottom: 10px;
    }

   .cta-card ul {
    list-style: none;
    }

   .cta-card li {
    margin-bottom: 10px;
   }

   .cta-card a {
    color: white;
    text-decoration: none;
   }

  .cta-card a:hover {
   color: #f7c600;
   }

   .social-icons {
    display: flex;
    gap: 15px;
   }
   .social-icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255,255,255,.15);
    border-radius: 8px;
    font-size: 24px;
    }

   .social-icons a:hover {
    background: #f7c600;
    color: #000;
    }

   @media (max-width:768px) {

  .cta-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .cta-line {
    width: 100%;
  }

  .cta-header h2 {
    font-size: 32px;
  }

  .cta-grid {
    grid-template-columns: 1fr;
  }
}

   /* FAQ */
   .faq {
    padding: 50px 30px;
    }
   .faq p {
     text-align: center;
     font-weight:bold;
   }
   .faq-item {
    border-bottom: 1px solid #333;
    padding: 15px 0px;
    margin-top: 20px;
    }
   .faq-question {
    cursor: pointer;
    font-weight: bold;
    position: relative;
    }
   .faq-question::after {
    content: "+";
    position: absolute;
    right: 0;
    transition: transform 0.3s;
    }
   .faq-item.active .faq-question::after {
    content:"-";
    }
   .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    opacity: 0.8;
    margin-top: 10px;
    }
   .active .faq-answer {
    max-height: 200px;
    }

   footer {
    text-align: center;
    background: #0b2c6f;
    color: white;
    }
